<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcJr1TRtHXNiC5SW4E57iWKCuThVUpyLs</string>
	<key>GCM_SENDER_ID</key>
	<string>126584629323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabConnect</string>
	<key>PROJECT_ID</key>
	<string>cabconnect-af448</string>
	<key>STORAGE_BUCKET</key>
	<string>cabconnect-af448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126584629323:ios:5f1c6ee51372225bbc85ce</string>
</dict>
</plist>